/* FONT AWESOME CONSTANTS */
$fa-font-path:                "./../components/icons/fontawesome/webfonts";
// $fa-font-size-base:           16px;
// $fa-css-prefix:               fa;
// $fa-border-color:             #eee;
// $fa-inverse:                  #fff;
// $fa-li-width:                 2em;