@import './../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import './../components/noprint-style/all';
@import './../components/icons/all';

body {
  background-color: $page_base_background;
  display: flex;
  transform: translateX(-1%);
  min-height: calc(150px + 150px * 2 + 50px);
}