@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";

.icon {
  @extend %fa-icon;
  &-user {
    @extend .fas;
    &:before {
      content: fa-content($fa-var-user);
    }
  }
}